@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import "../../node_modules/aos/dist/aos.css";

/* Fonts */
@import 'base/fonts';

.font-brice {
  font-family: 'Brice'
}

.font-brice-bold {
  font-family: 'Brice-Bold'
}

.font-brice-light {
  font-family: 'Brice-Light'
}

.font-brice-extralight {
  font-family: 'Brice-ExtraLightExp'
}

.font-brice-regular-exp {
  font-family: 'Brice-RegularExp'
}

.font-brice-semibold-exp {
  font-family: 'Brice-SemiBoldExp'
}

.font-walsh {
  font-family: 'Walsh'
}

.font-mohol {
  font-family: 'Mohol'
}


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

.nav-sm {
  transition: all 200ms ease-in-out;
}

.active-faq {
  color: white;
  background: #D54076;
}

.ant {
  &-empty {
    &-img {
      &-default {
        &-ellipse {
          fill: #f5f5f5;
          fill-opacity: .8;
        }

        &-path {
          &-1 {
            fill: #aeb8c2;
          }

          &-2 {
          }

          &-3 {
            fill: #f5f5f7;
          }

          &-4 {
            fill: #dce0e6;
          }

          &-5 {
            fill: #dce0e6;
          }
        }

        &-g {
          fill: #fff;
        }
      }
    }
  }
}


.half-tavi-product {
  &.keatas {
    -webkit-animation: keatas 0.3s cubic-bezier(0.250, 0.460, 0.450, 0.940) forwards !important;
    animation: keatas 0.3s cubic-bezier(0.250, 0.460, 0.450, 0.940) forwards !important;
  }

  &.kesamping {
    -webkit-animation: kesamping 0.3s cubic-bezier(0.250, 0.460, 0.450, 0.940) forwards !important;
    animation: kesamping 0.3s cubic-bezier(0.250, 0.460, 0.450, 0.940) forwards !important;
  }

  &.lurus {
    -webkit-animation: lurus 0.3s cubic-bezier(0.250, 0.460, 0.450, 0.940) forwards !important;
    animation: lurus 0.3s cubic-bezier(0.250, 0.460, 0.450, 0.940) forwards !important;
  }

  &.kebawah {
    -webkit-animation: kebawah 0.3s cubic-bezier(0.250, 0.460, 0.450, 0.940) forwards !important;
    animation: kebawah 0.3s cubic-bezier(0.250, 0.460, 0.450, 0.940) forwards !important;
  }
}


@media only screen and (min-width: 1536px) {
  @keyframes keatas {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(-300px);
    }
  }

  @keyframes kebawah {
    0% {
      transform: translateY(-300px);
    }
    100% {
      transform: translateY(0);
    }
  }

  @keyframes kesamping {
    0% {
      transform: translateY(-300px) translateX(0) rotate(0);
    }
    100% {
      transform: translateY(-60px) translateX(40px) rotate(-45deg);
      z-index: 40;
    }
  }

  @keyframes lurus {
    0% {
      transform: translateY(-300px) rotate(-45deg);
    }

    100% {
      transform: translateY(-300px) rotate(0);
    }
  }
}

@media only screen and (min-width: 1280px) and (max-width: 1536px) {
  @keyframes keatas {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(-150px);
    }
  }

  @keyframes kebawah {
    0% {
      transform: translateY(-150px);
    }
    100% {
      transform: translateY(0);
    }
  }

  @keyframes kesamping {
    0% {
      transform: translateY(-150px) translateX(0) rotate(0);
    }
    100% {
      transform: translateY(-30px) translateX(40px) rotate(-45deg);
      z-index: 40;
    }
  }

  @keyframes lurus {
    0% {
      transform: translateY(-150px) rotate(-45deg);
    }

    100% {
      transform: translateY(-150px) rotate(0);
    }
  }
}

@media only screen and (min-width: 320px) and (max-width: 1280px) {
  @keyframes keatas {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(-150px);
    }
  }

  @keyframes kebawah {
    0% {
      transform: translateY(-150px);
    }
    100% {
      transform: translateY(0);
    }
  }

  @keyframes kesamping {
    0% {
      transform: translateY(-150px) translateX(0) rotate(0);
    }
    100% {
      transform: translateY(-30px) translateX(40px) rotate(-45deg);
      z-index: 40;
    }
  }

  @keyframes lurus {
    0% {
      transform: translateY(-150px) rotate(-45deg);
    }

    100% {
      transform: translateY(-150px) rotate(0);
    }
  }
}


.half-tavi-product, .retinol, .bakuchiol {
  transition: all 200ms ease-out 0ms, transform 200ms ease-out 0ms;
  -webkit-animation: 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both !important;
  animation: 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both !important;
}

.bakuchiol-sm,
  //.tutup-tavi-product,
.drople,
.head-card,
.text-out,
.text-inside,
.retinol-circle,
.image-sm,
.hover-img,
.main-img-product,
.modal-share,
.main-modal-share,
.modal-sm-ing,
.sm-modal-ing,
.main-modal-checkout,
.modal-add-address,
.modal-select-address {
  transition: opacity 200ms ease-in-out 0ms, transform 200ms ease-in-out 0ms;
}

.modal-share {
  transform: scale(1);
  opacity: 1;
}

.box-detail-product-sm {
  transition: opacity 200ms ease-in-out 0ms, transform 200ms ease-in-out 0ms;
}


.line {
  transition: visibility 0s linear 0.33s, opacity 0.33s linear;
}

.inf-left {
  background: #b6d7eb;
  transition: all linear 200ms;
}

.inf-right {
  background: #c7a1f5;
  transition: all linear 200ms;
}

.upper-image {
  position: absolute;
  top: 0;
  left: 0;
  transition: opacity 300ms ease-out;
  opacity: 0;
}

.upper-image:hover {
  opacity: 1;
}

.infografis {
  background-image: url("../images/home/jpg/bg-over.jpg");
  background-repeat: unset;
  background-position: 50% 0;
  object-fit: cover;
}

.select-category-prod {
  border: none;
  box-shadow: none;
  background-color: transparent;
  background-image: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 0 8px;
}

.select-items-prod option {
  color: black;
}


.header {
  background: transparent;
  -webkit-transition: all ease-out .5s;
  -moz-transition: all ease-out .5s;
  -o-transition: all ease-out .5s;
  transition: all ease-out .5s;
}

.header-active {
  background-color: white;
  filter: drop-shadow(0 1px 1px rgb(0 0 0 / 0.05));
}


.marquee {
  position: relative;
  width: 100vw;
  max-width: 100%;
  min-height: 120px;
  overflow-x: hidden;
  padding: 32px 0 24px 0;
}

.marquee-about {
  position: relative;
  width: 100vw;
  max-width: 100%;
  min-height: 80px;
  overflow-x: hidden;
  padding: 16px 0 16px 0;
}

.marquee-about-sm {
  position: relative;
  width: 100vw;
  max-width: 100%;
  min-height: 60px;
  overflow-x: hidden;
  padding: 12px 0;
}

.marquee-sm {
  position: relative;
  width: 100vw;
  max-width: 100%;
  min-height: 60px;
  overflow-x: hidden;
  padding: 12px 0;
}

.track {
  position: absolute;
  white-space: nowrap;
  will-change: transform;
  animation: marquee 40s linear infinite;
}

.point:after {
  width: 14px;
  height: 14px;
  background: white;
  content: "";
  border-radius: 100%;
  display: inline-block;
  position: relative;
  bottom: 12px;
  margin: 0 32px;
}

.point-sm:after {
  width: 12px;
  height: 12px;
  background: white;
  content: "";
  border-radius: 100%;
  display: inline-block;
  position: relative;
  bottom: 4px;
  margin: 0 32px;
}

.home-point:after {
  width: 14px;
  height: 14px;
  background: black;
  content: "";
  border-radius: 100%;
  display: inline-block;
  position: relative;
  bottom: 12px;
  margin: 0 32px;
}

.home-point-sm:after {
  width: 12px;
  height: 12px;
  background: black;
  content: "";
  border-radius: 100%;
  display: inline-block;
  position: relative;
  bottom: 4px;
  margin: 0 32px;
}

@keyframes marquee {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

.acc-head-sm > svg {
  transition: 300ms cubic-bezier(0, 0, .52, 1) all;
}

.acc-body-sm {
  transition: all 300ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.icon-acc {
  transition: 300ms cubic-bezier(0, 0, .52, 1) all;
  transform: rotate(90deg);
}

.accordion-item .acc-active .heading .icon-acc {
  transform: rotate(0deg);
}

.acc-icon-product {
  transition: 300ms cubic-bezier(0, 0, .52, 1) all;
}

.acc-product-active .heading .acc-icon-product {
  transform: rotate(180deg);
}


.benefit-number-mobile:after {
  content: "%";
}

.accordion-item-body {
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}


.tab-quiz {
  transition: visibility 0s, opacity 0.3s linear;
}

.radio-answer input[type="radio"] {
  opacity: 0;
  width: 0;
  display: none;
}

.radio-answer input[type="radio"]:checked + label {
  border-color: #2A358F;
}

.quiz-option input[type="checkbox"] {
  opacity: 0;
  width: 0;
  display: none;
}

.quiz-option input[type="checkbox"]:checked + label {
  border-color: #2A358F;
}


.step-on {
  border-top-right-radius: 50px;
  background-color: #2A358F;
  transition: .5s ease-out;
  color: white;
}

.step-off {
  border-top-right-radius: 0;
  background-color: #2A358F;
  transition: .5s ease-out;
  color: white;
}

.step-quiz {
  background-size: 200%;
  transition: .5s ease-out;
}

.btn {
  border: none;
  outline: none;
  padding: 10px 16px;
  background-color: #f1f1f1;
  cursor: pointer;
  font-size: 18px;
}

.active {
  border: 3px solid #f05274;
}


.slide-div {
  opacity: 0;
  transition: opacity 2s;
  -webkit-transition: opacity 2s;
}

.show {
  opacity: 1;
}

.btn-tab, .btn-tab-reviews {
  transition: all 300ms ease-in;
}

.btn-tab-tut, .btn-indicator-tut .tab-text, .tab-img {
  transition: all 300ms ease-out;
}


.ingleft-sm, .ingleft-lg, .ingright-sm, .ingright-lg {
  transition: opacity 200ms ease-in-out 0ms, transform 200ms ease-in-out 0ms;
}

.ingredients-left > div.ingleft-lg {
  display: none;
  opacity: 0;
}

.ingredients-right > div.ingright-lg {
  display: none;
  opacity: 0;
}

.tabs-results .tab-header-results > button.tab-active {
  background: #D54076;
  transition: all 300ms ease-in-out;
}

.tabs-results .tab-body-results > div {
  opacity: 0;
  display: none;
  transform: scale(0.9);
  transition: opacity 300ms ease-in-out 0ms, transform 300ms ease-in-out 0ms;
}

.tabs-results .tab-body-results > div.tab-active {
  transform: scale(1);
  opacity: 1;
  display: block;
}

.sm-menu-active {
  right: 0;
}
