/* By Athlon Front-End Team */
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import "../../node_modules/aos/dist/aos.css";

.font-brice {
    font-family: 'Brice'
}

.font-brice-light {
    font-family: 'Brice-Light'
}

.font-brice-extralight {
    font-family: 'Brice-ExtraLightExp'
}

.font-brice-regular-exp {
    font-family: 'Brice-RegularExp'
}

.font-brice-semibold-exp {
    font-family: 'Brice-SemiBoldExp'
}

.font-walsh {
    font-family: 'Walsh'
}

.font-mohol {
    font-family: 'Mohol'
}

/* Fonts */
@import 'base/fonts';

/* Core variables */
//@import 'base/vars';
//
///* CSS Reset */
//@import 'base/reset';
//
///* CSS print */
//@import 'base/print';
//
///* Mixins, helpers and functions */
//@import 'base/mixins';
//
///* Vendor */
//
///* Components */
//
///* Browser specific styles */
//@import 'dirty/hacks';

/* Demo Page styles */
//@import 'demo';